<div id="info" style="padding: 16px;">
    <div id="personal-picture">
        <img [src]="miPortfolio.profileImage" class="profile-image" alt="profile-picture"/>
    </div>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    <div id="info-data">
        <div class="row justify-content-around">
            <div class="col"><h1>{{miPortfolio.name}}</h1></div>
            <div id="col info-company">{{miPortfolio.position}} en {{miPortfolio.company.name}}<img [src]="miPortfolio.company.img" [alt]="miPortfolio.company.url"/></div>
            <div id="col info-contact">
                <span>{{miPortfolio.ubicacion}}</span>
                <span><a href=""></a></span>
            </div>
        </div>
    </div>
</div>
    <!--div class="btn-edit" onclick="cambiar_parrafo()"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    <input id="edit-acercade" oninput="myFunction2(this.value)" style="display:none" type="text">
  </div>
  <input type="file" id="file1" onchange="ShowFile1(this)"-->