<div>
    <a href="https://github.com/WizardSustine" class=""><img src="../../../../assets/github.png" alt="icono Github"></a>
    <a href="https://www.facebook.com/juan.bustamante.98" class=""><img src="../../../../assets/facebook.png" alt="icono Facebook"></a>
    <a href="https://www.instagram.com/juanbusta90" class=""><img src="../../../../assets/instagram.png" alt="icono Instagram"></a>
    <a href="https://www.linkedin.com/in/juan-bustamante-260440210" class=""><img src="../../../../assets/linkedin.png" alt="icono Linkedin"></a>
    <button class="btn btn-light" type="button" (click)="login()" *ngIf="!isLogged">Login</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
</div>
