img{
    max-height: 2em;
    padding: 0.3em;
}
button{
    border-width:2.3px;
    border-color: rgb(31, 141, 16);
    border-style:ridge;
    font-size: small;
    font-weight: bolder;
    background-color: rgba(45, 222, 14, 0.827);
    color: white;
}