.bk-ground{
    background-color: rgba(22, 91, 4, 0.558);
    color: white;
}
ul{
    list-style: none;
}
img{
    max-height: 6em;
}
.btn-light{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: white;
    align-items: center;
    float: right;
}
.btn-r{
    background-color: rgb(82, 205, 37);
    border-color: rgba(255, 255, 255, 0);
    color: white;
    align-items: center;
    float: right;
    font-weight: bolder;
}