<div class="bk-ground card mat-card">
    <div id="projects">
        <div class="card-titles">
            <button class="btn btn-r" type="button" routerLink="/nuevaproyec" *ngIf="isLogged">AGREGAR</button>
            <h2>Proyectos</h2>
        </div>
        <div>
            <ul class="items-list">
                <li  *ngFor="let project of proye">
                    <div class="row justify-content-start">
                        <span class="col-2">
                            <img [src]="project.img" alt="tecnología"/>
                        </span>
                        <div class="col description-list">
                            <h4>{{project.name}}</h4>
                            <p>{{project.description}}</p><br/>
                            <h5>{{project.link}}</h5>
                        </div>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyec/{{project.id}}">
                            <i class="fa fa-pen"></i> EDITAR</button>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-light" (click)="delete(project.id)">
                            <i class="fa fa-trash"></i><p>BORRAR</p></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
