<app-header></app-header>
<app-experiences></app-experiences>
<app-education></app-education>
<app-skills></app-skills>
<app-projects></app-projects>
<app-footer></app-footer>
<script>
  function cambiar_parrafo(){
      document.getElementById("edit-acercade").style.display="block";
      let texto = document.getElementById("text-acercade").innerText;
      console.log(texto);
  };

  function myFunction2(valor){
      document.getElementById("text-acercade").innerText=valor;
  };

  let textarea=document.getElementById("edit-acercade")
  textarea.addEventListener('keyup', (e) => {
      /*logMessage('Key "${e.key}" released [event: keyup]');*/
      if (e.key=="Enter"){
          document.getElementById("edit-acercade").style.display="none"
      }
  });

  function ShowFile1(input){
      let file = input.files[0];
      //alert('File name: ${file.name}'); //e.g my.png
      //alert('Last Modified: ${file.lastModified}'); //e.g

      let reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function(progressEvent) {
          var s = reader.result.toString();
          console.log(s);
          var arr =s.split('\n');
          GetAcercade(arr[0]);
          GetNombre(arr[1]);
          GetApellido(arr[2]);
          GetTitulos(arr[3]), arr[4];
          //document.getElementById("text-acercade").innerText=reader.result;
      };
      //reader.onerror = function() {
          //console.log(reader.error);
      //}
  }
</script>