<app-header></app-header>
<app-about></app-about>
<app-experiences></app-experiences>

<div class="bk-ground card mat-card" id="">
  <div id="Aptitudes y validaciones">
      <div class="card-titles">
         <h2>Aptitudes y validaciones</h2>
         <div class="btn-edit"></div>
      </div>
      <div>
         <ul class="items-list">
             <li>
                 <div class="data-container">
                     <a href="#">
                         <div class="logo-image-container">
                             <img src="" alt="">
                         </div>
                         <div class="list-info">
                             <h3>algo</h3>
                             <p></p>
                             <h4>desde - hasta - tiempo total</h4>
                             <h4>Santa Fe, Argentina</h4>
                         </div>
                     </a>
                 </div>
                 <div class="data-control"></div>
             </li>
         </ul>
      </div>
     </div>
</div>
<app-skills></app-skills>
<app-footer></app-footer>
<script>
  function cambiar_parrafo(){
      document.getElementById("edit-acercade").style.display="block";
      let texto = document.getElementById("text-acercade").innerText;
      console.log(texto);
  };

  function myFunction2(valor){
      document.getElementById("text-acercade").innerText=valor;
  };

  let textarea=document.getElementById("edit-acercade")
  textarea.addEventListener('keyup', (e) => {
      /*logMessage('Key "${e.key}" released [event: keyup]');*/
      if (e.key=="Enter"){
          document.getElementById("edit-acercade").style.display="none"
      }
  });

  function ShowFile1(input){
      let file = input.files[0];
      //alert('File name: ${file.name}'); //e.g my.png
      //alert('Last Modified: ${file.lastModified}'); //e.g

      let reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function(progressEvent) {
          var s = reader.result.toString();
          console.log(s);
          var arr =s.split('\n');
          GetAcercade(arr[0]);
          GetNombre(arr[1]);
          GetApellido(arr[2]);
          GetTitulos(arr[3]), arr[4];
          //document.getElementById("text-acercade").innerText=reader.result;
      };
      //reader.onerror = function() {
          //console.log(reader.error);
      //}
  }
</script>