<div class="container" *ngIf="expes">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="position">Posición que ocupó</label>
                    <input type="text" class="form-control" id="position" name="position" [(ngModel)]="expes.position" required>
                </div>
                <div class="form-group">
                    <label for="company">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="company" name="company" [(ngModel)]="expes.company" required>
                </div>
                <div class="form-group">
                    <label for="description">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="expes.description" required>
                </div>
                <div class="form-group">
                    <label for="mode">Modalidad de trabajo: (parcial - fulltime)</label>
                    <input type="text" class="form-control" id="mode" name="mode" [(ngModel)]="expes.mode" required>
                </div>
                <div class="form-group">
                    <label for="start">Fecha de inicio</label>
                    <input type="text" class="form-control" id="start" name="start" [(ngModel)]="expes.start" required>
                </div>
                <div class="form-group">
                    <label for="end">Fecha de finalización</label>
                    <input type="text" class="form-control" id="end" name="end" [(ngModel)]="expes.end" required>
                </div>
                <div class="form-group">
                    <label for="timelapsed">Tiempo transcurrido</label>
                    <input type="text" class="form-control" id="timelapsed" name="timelapsed" [(ngModel)]="expes.timelapsed" required>
                </div>
                <div class="form-group">
                    <label for="city">Ciudad en que ocupó el cargo</label>
                    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="expes.city" required>
                </div>
                <div class="form-group">
                    <label for="img">Link de una imagen de su empresa</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="expes.img" required>
                </div>
                <button class="btn btn-primary">
                    Guardar cambios
                </button>
            </form>
        </div>
    </div>
</div>