<div class="bk-ground card mat-card">
    <div id="experience">
        <div class="card-titles">
        <h2>Experiencia</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
     </div>
     <div>
        <ul class="items-list">
            <li  *ngFor="let experiense of experiencesList">
                <div class="row justify-content-start card-body">
                    <span class="col-2">
                        <img [src]="experiense.img" alt="Logo empresa"/>
                    </span>
                    <div class="col description-list">
                        <h4>{{experiense.position}}</h4>
                        <p>en {{experiense.company}}</p><br/>
                        <p>{{experiense.description}}</p><br/>
                        <p>Modalidad {{experiense.mode}}</p>
                        <h5><time>{{experiense.start}}</time> - <time>{{experiense.end}}</time> - <time>{{experiense.timelapsed}}</time></h5>
                        <h5>{{experiense.city}}</h5>
                    </div>
                </div>
            </li>
        </ul>
        <div class="data-control">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
          </div>
     </div>
    </div>
</div>
