.bk-ground{
    background-color: rgba(22, 91, 4, 0.558);
    color: white;
}
ul{
    list-style: none;
}
img{
    max-height: 5em;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 50%;
}
.description-list{
    
}