<div class="bk-ground card mat-card">
    <div id="projects">
        <div class="card-titles">
            <button class="btn btn-r" type="button" routerLink="/nuevaexpe" *ngIf="isLogged">AGREGAR</button>
            <h2>Experiencias</h2>
        </div>
        <div>
            <ul class="items-list">
                <li class="card-body" style="border:solid; border-color: rgba(0, 0, 0, 0.253); display:flexbox"  *ngFor="let experiense of expe">
                    <div class="card-body row" >
                        <span class="col-2">
                            <img [src]="experiense.img" alt="tecnología"/>
                        </span>
                        <div class="col description-list card-body">
                            <h4>{{experiense.position}}</h4>
                            <p>en {{experiense.company}}</p>
                            <p>{{experiense.description}}</p>
                            <p>Modalidad {{experiense.mode}}</p>
                            <h5><time>{{experiense.startt}}</time> - <time>{{experiense.endd}}</time> - <time>{{experiense.timelapsed}}</time></h5>
                            <h5>{{experiense.city}}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                    <div *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexpe/{{experiense.id}}">
                            <i class="fa fa-pen"></i> EDITAR</button>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-light" (click)="delete(experiense.id)">
                            <i class="fa fa-trash"></i><p>BORRAR</p></button>
                    </div></div>
                    <br><br>
                </li>
            </ul>
        </div>
    </div>
</div>