<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreateEx()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="position">Posición que ocupó</label>
                    <input type="text" class="form-control" id="position" name="position" [(ngModel)]="position" required />
                </div>
                <div class="form-group">
                    <label for="company">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="company" name="company" [(ngModel)]="company" required />
                </div>
                <div class="form-group">
                    <label for="img">Link de una imagen de su empresa</label>
                    <input type="url" placeholder="https://example.com" pattern="https://.*" size="255" id="img" name="img" [(ngModel)]="img" required />
                </div>
                <div class="form-group">
                    <label for="description">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description" required />
                </div>
                <div class="form-group">
                    <label for="mode">Modalidad de trabajo: (parcial - fulltime)</label>
                    <input type="text" class="form-control" id="mode" name="mode" [(ngModel)]="mode" required />
                </div>
                <div class="form-group">
                    <label for="startt">Fecha de inicio</label>
                    <input type="text" class="form-control" id="startt" name="startt" [(ngModel)]="startt" required />
                </div>
                <div class="form-group">
                    <label for="endd">Fecha de finalización</label>
                    <input type="text" class="form-control" id="endd" name="endd" [(ngModel)]="endd" required />
                </div>
                <div class="form-group">
                    <label for="timelapsed">Tiempo transcurrido</label>
                    <input type="text" class="form-control" id="timelapsed" name="timelapsed" [(ngModel)]="timelapsed" required />
                </div>
                <div class="form-group">
                    <label for="city">Ciudad en que ocupó el cargo</label>
                    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city" required />
                </div>
                <button class="btn btn-primary">
                    Añadir
                </button>
            </form>
        </div>
    </div>
</div>