<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="career">Nombre de la carrera</label>
                    <input type="text" class="form-control" id="career" name="career" [(ngModel)]="edus.career" required />
                </div>
                <div class="form-group">
                    <label for="school">Nombre de la institución</label>
                    <input type="text" class="form-control" id="school" name="school" [(ngModel)]="edus.school" required />
                </div>
                <div class="form-group">
                    <label for="degree">Título de la carrera</label>
                    <input type="text" class="form-control" id="degree" name="degree" [(ngModel)]="edus.degree" required />
                </div>
                <div class="form-group">
                    <label for="img">Link de una imagen de la institución</label>
                    <input type="url" placeholder="https://example.com" pattern="https://.*" size="255" id="img" name="img" [(ngModel)]="edus.img" required />
                </div>
                <div class="form-group">
                    <label for="startt">Fecha de inicio</label>
                    <input type="text" class="form-control" id="startt" name="startt" [(ngModel)]="edus.startt" required />
                </div>
                <div class="form-group">
                    <label for="endd">Fecha de finalización</label>
                    <input type="text" class="form-control" id="endd" name="endd" [(ngModel)]="edus.endd" required />
                </div>
                <button class="btn btn-primary">
                    Agregar educación
                </button>
            </form>
        </div>
    </div>
</div>