<div class="bk-ground card mat-card">
    <div id="educacion">
        <div class="card-titles">
           <h2>Educación</h2>
           <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
        <div>
           <ul class="items-list">
               <li *ngFor="let education of educationList">
                   <div class="container">
                        <div class="row justify-content-start">
                            <!--a href="#"-->
                                <div class="col-2 logo-image-container">
                                    <img class="logo-image-a" [src]="education.img" alt=""/>
                                </div>
                                <div class="col-6 list-info">
                                    <h4>{{education.school}}</h4>
                                    <p>{{education.degree}}</p>
                                    <h5><time>{{education.start}}</time> - <time>{{education.end}}</time></h5>
                                </div>
                            <!--/a-->
                        </div>
                   </div>
               </li>
           </ul>
           <div class="data-control">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
          </div>
        </div>
    </div>
</div>