.bk-ground{
    background-color: rgba(22, 91, 4, 0.558);
    color: white;
}
ul{
    list-style: none;
}
.logo-image-a {
    max-height: 4em;
    margin-top: 1em;
}

.list-info{
    font-size: 1em;
}