<div class="bk-ground card mat-card">
    <div id="educacion">
        <div class="card-titles">
            <button class="btn btn-r" type="button" routerLink="/nuevaedu" *ngIf="isLogged">AGREGAR</button>
            <h2>Educación</h2>            
        </div>
        <div>
           <ul class="items-list">
               <li *ngFor="let education of edu">
                    <div class="row justify-content-start card-body">
                        <div class="col-2 logo-image-container">
                            <img class="logo-image-a" [src]="education.img" alt=""/>
                        </div>a
                        <div class="col-6 list-info">
                            <h4>{{education.school}}</h4>
                            <p>{{education.degree}}</p>
                            <p>{{education.career}}</p>
                            <h5><time>{{education.startt}}</time> - <time>{{education.endd}}</time></h5>
                        </div>
                        <div *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editedu/{{education.id}}">
                                <i class="fa fa-pen"></i> EDITAR</button>
                        </div>
                        <div *ngIf="isLogged">
                            <button class="btn btn-light" (click)="delete(education.id)">
                                <i class="fa fa-trash"></i><p>BORRAR</p></button>
                            </div>
                    </div>           
               </li>
           </ul>
        </div>
    </div>
</div>