<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreateHa()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre de la habilidad</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required />
                </div>
                <div class="form-group">
                    <label for="img">Link de una imagen representativa</label>
                    <input type="url" placeholder="https://example.com" pattern="https://.*" size="255" id="img" name="img" [(ngModel)]="img" required />
                </div>
                <div class="form-group">
                    <label for="porcentaje">Fecha de inicio</label>
                    <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required />
                </div>
                <button class="btn btn-primary">
                    Añadir
                </button>
            </form>
        </div>
    </div>
</div>
