ul{
    list-style: none;
}
.skillname{
    font-size: 2.5em;
    float: left;
}
.skillper{
    font-size: 2.5em;
}
#skillcircle{
    display: block;
    margin-left: 4em;
}

#progress {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  
#progress-value {
    display: block;
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    align-content: stretch;
    font-weight: 600;
    font-size: 1em;
  }