<div class="bk-ground card mat-card">
  <div id="Logros">
    <div class="card-titles">
       <h2>Logros</h2>
       <div class="btn-edit"></div>
    </div>
    <div>
       <ul class="row justify-content-around">
           <li class="col" *ngFor="let skill of skillsList">
               <div class="row justify-content-around">
                  <span class="col"><img class="skillimg" [src]="skill.img" [alt]="skill.name"/></span>
                  <p class="skillper col"> {{skill.porcentaje}}%</p>                  
                  <span>
                     <div class="progress row" style="background:conic-gradient(rgb(0,143,255) {{skill.porcentaje}}%,rgb(242,242,244) {{skill.porcentaje}}%)"> 
                        <div class="progress-value"></div>
                     </div>
                  </span>
               </div>
           </li>
        </ul>
    </div>
</div>

