<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <div id="Logros">
    <div class="card-titles">
       <h2>Logros</h2>
       <div class="btn-edit"></div>
    </div>
    <div>
       <ul class="items-list">
           <li *ngFor="let skill of skillsList">
                    <p class="skillname">{{skill.name}}</p><p class="skillper"> {{skill.porcentaje}} %</p>
                    <!--span id="skillcircle">
                        <app-circlebar [progress]="skill.porcentaje"></app-circlebar>
                     </span-->
                     
                     <span><div (id)="skill.id" >
                        <span id="progress-value"></span>
                    </div></span>
           </li>
        </ul>
    </div>
</div>

