ul{
    list-style: none;
}

.skillper{
    font-size: 2em;
    float: left;
}
#skillcircle{
    display: block;
    margin-left: 4em;
}

.progress {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    float: left;
  }
  
.progress-value {
    display: block;
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    background-color: rgb(36, 86, 24);
    border-radius: 50%;
    display: grid;
    place-items: center;
    align-content: stretch;
    font-weight: 600;
    font-size: 1em;
  }

  .bk-ground{
    background-color: rgba(22, 91, 4, 0.558);
    color: white;
}
.skillimg{
    max-height: 50px;
    
}